@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h2 class="bg-warning" style="font-family: 'Times New Roman', Times, serif">Trang quản lý sinh viên Đại học Bách Khoa Hà Nội</h2>
    
    <ul>
        <li><a href="https://localhost:44327/students">Danh sách sinh viên</a></li>
        <li><a>Thời khóa biểu sinh viên</a></li>
        <li><a>Danh sách lớp mở đăng ký</a></li>

    </ul>
</div>